#Publicaciones{
    margin-top: 50px;
}

.titulo-publicaciones {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    margin-top: 10px;
}

.publicacion{
    height: 100%;
    max-height: 50rem;
    max-width: 100%;
}
@media (max-width: 768px) {
    .publicacion{
        max-width: 100%;
    }
}

.publicaciones {
    margin: 15px 10% 15px 10%;

}